# Datatypes in Pythons

    * Integer
    * boolean
    * float
    * complex
    * range
    * set
    * String
    * list
    * tuple
    * dict

In [10]:
from typing import (
    List,
    Tuple,
    Dict,
    Set,
)

In [11]:
# Integer

age: int = 25

#display age
print(age)

#display the data type of age:
print(type(age))

25
<class 'int'>

In [24]:
# Boolean

is_valid: bool = True

#display is_valid:
print(is_valid)

#display the data type of is_valid:
print(type(is_valid))

True
<class 'bool'>

In [25]:
# Float

pi: float = 3.14159

#display pi:
print(pi)

#display the data type of pi:
print(type(pi))

3.14159
<class 'float'>

In [12]:
# Complex (like mathematic equation)

complex_number: complex = 2 + 3j

#display complex_number:
print(complex_number)

#display the data type of complex_number:
print(type(complex_number))

(2+3j)
<class 'complex'>

In [27]:
# Range

number_range: range = range(1, 6)

#display number_range:
print(number_range)

#display the data type of number_range:
print(type(number_range))

range(1, 6)
<class 'range'>

In [28]:
# Set
# it give unique_numbers

unique_numbers: Set[int] = {1,1, 2,2, 3,3, 4,4, 5,5,6,6,7,7}

#display unique_numbers:
print(unique_numbers)

#display the data type of unique_numbers:
print(type(unique_numbers))

{1, 2, 3, 4, 5, 6, 7}
<class 'set'>

In [13]:
# String

name: str = 'Muhammad Asif'

#display name:
print(name)

#display the data type of name:
print(type(name))

Muhammad Asif
<class 'str'>

In [30]:
# List

numbers: List[int] = [1, 2, 3, 4, 5]

#display numbers:
print(numbers)

#display the data type of numbers:
print(type(numbers))

[1, 2, 3, 4, 5]
<class 'list'>

In [14]:
# Tuple (passing data type mention in bracket)

point: Tuple[float, float] = (3.0, 4.0)

#display point:
print(point)

#display the data type of point:
print(type(point))

(3.0, 4.0)
<class 'tuple'>

In [15]:
# Dictionary

student_scores: Dict[str, int] = {"Asif": 95, "Shehzad": 87, "Aamir": 92}

# Display student_scores:
print(student_scores)

# Display the data type of student_scores:
print(type(student_scores))

{'Asif': 95, 'Shehzad': 87, 'Aamir': 92}
<class 'dict'>