# String Data type in python

The most important datatype in Programing languages is that is called String : sequence of caharcters
or collection of characters. 
-Now in the world of NLP and LLM all work is done in the form of text we give prompt input and get output and text is String.

-In How many ways STRING is define:
1. We assign it in variable.
2. direct put in string

- You define string in particular boundary

* In single quotation (' ')
* In double quotation (" ")
* In Triple quotation (''' ''')
* In Triple quotation (""" """)

In [1]:
name : str = 'Muhammad Asif'
print(type(name))
print(name)

<class 'str'>
Muhammad Asif

In [14]:
# When we make + plus operator between string it concatenate them.

# It concatenate the text because it's type is string

"a" + "b" + "c"

'abc'

In [15]:
# It also concatenate the text and number because it's type is string

"a" + "7"

'a7'

In [16]:
# It also concatenate the number and number because it's type is string

"6" + "7"

'67'

# String methods and attribute

* In python every thing is object.
    * Object have methods and attribute.
    * Methods : Which perform action e.g : walk, run, work
    * Attributes : are eye color, height.

In [49]:
# checking the methods and attribute of any class by "dir".
# -- below is used for list comprehensive

[i for i in dir(str) if "__" not in i]

['capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [64]:
# In below I'm not follow any case 

# Syntex for calling method: variable_name.method()

# capitalize: is a method, that do first letter capital

name : str = "MUhAMMad aSif"

print(name)

print(name.capitalize())

MUhAMMad aSif
Muhammad asif

In [74]:
#upper : do every letter capital 

name:str = "NA Times"

print(name)

print(name.upper())

NA Times
NA TIMES

In [75]:
#lower : do every letter small 

name:str = "NA Times"

print(name)

print(name.lower())

NA Times
na times

In [76]:
# casefold : all do in small letter. in which you said not follow any case (not upper and lower)
# casefold : Not follow any case

name : str = "MuHammAd AsIf"

print(name)

print(name.casefold())

MuHammAd AsIf
muhammad asif

In [63]:
# lstrip: all left side spaces remove

# display() is better then print() function

name : str = "      Muhammad Asif        "

display(name)

display(name.lstrip())

'      Muhammad Asif        '

'Muhammad Asif        '

In [67]:
# rstrip: all right side spaces remove

name : str = "      Muhammad Asif         "

display(name)

display(name.rstrip())

'      Muhammad Asif         '

'      Muhammad Asif'

In [68]:
# strip: both side spaces remove

name : str = "      Muhammad Asif         "

display(name)

display(name.strip())

'      Muhammad Asif         '

'Muhammad Asif'

In [69]:
name : str = "      Muhammad      Asif         "

display(name)

display(name.strip())

'      Muhammad      Asif         '

'Muhammad      Asif'

In [70]:
# Middle spaces are remove by rigid
# re : regular expression
# rigid : re
# we update variable by rigid. we give substitute(sub, in here we give three thing 1. pattern, 2. replacement 3.the variable whom we play it)

# DISPLAY : In jupyter note specially any specially formating whatever list, dictionary, string or dataframe
# -- he show it own format that integration with html in beautiful style.
# PRINT : convert it in string and show.

import re

name : str = "      Muhammad       Asif         "

display(name)

name1 : str = re.sub(' {2,100}',' ', name).strip()
display(name1)

'      Muhammad       Asif         '

'Muhammad Asif'

In [71]:
# capital first letter of every word

name : str = "muhammad asif"

display(name)

display(name.title())

'muhammad asif'

'Muhammad Asif'

In [82]:
# prefix : remove from start
# suffex : remove from last

nostarch_url:str = 'https://www.mrzoologist.com'
nostarch_url.removeprefix('https://')

'www.mrzoologist.com'

In [85]:
# suffex : remove from last

nostarch_url:str = 'https://www.mrzoologist.com'
nostarch_url.removesuffix('.com')

'https://www.mrzoologist'

# Special meaning white space

these are special meaning white space which we use.

* \n : it change the line
* \t : mean tab : extra space
* \b : mean back space, when we press back space something is delete


these are white space characters, you put it in string and it has special meaning

In [79]:
# t : means tab :means  extra space

print("Name:\t Muhammad Asif")

Name:	 Muhammad Asif

In [81]:
# \b : mean back space, when we press back space when we delete something
# By this space is remove.

print("Name:\bMuhammad Asif")

NameMuhammad Asif

In [77]:
# \n : it is used for line change

print("Name:\nMuhammad Asif")

Name:
Muhammad Asif

In [78]:

message : str = 'Student ID Card \n father's Name'
print(message)

SyntaxError: unterminated string literal (detected at line 1) (718093774.py, line 1)

In [3]:
# If you used  double quotation outside then used single quotation inside

message : str = "Student ID Card \nfather's Name"
print(message)

Student ID Card
father's Name

In [4]:
# Similarly If you used single quotation outside then used double quotation inside 


message : str = 'Student "ID Card" \nfather Name'
print(message)

Student "ID Card"
father Name

In [5]:
# convert any special meaning character into simple character, place back slash (\) before character

message : str = 'Student Card \nfather\'s Name'
print(message)

Student Card
father's Name

In [27]:
# Example of Student Card 

# We cannot concatenate the str and int data type.

name : str = 'Muhammad Asif'
fname : str = "A D"
education : str = "Master in Data Science"
age : int = 25

card : str = "Student Card\nStudent Name: " + name + "\nStudent Father Name" + fname + "\nAge:" + age + "\nEducation: " + education 

print(card)

TypeError: can only concatenate str (not "int") to str

In [19]:
# for converting in to string by quotation and by str function.

# str : This function convert any number, string, touple, dictionary in to string

# -- We also convert in to number, list, float

"a" + str(7)

'a7'

In [21]:
# Converting str in to int

1 + int('6')

7

In [31]:
# Example of Student Card 

# We cannot concatenate the str and int data type.

name : str = 'Muhammad Asif'
fname : str = "A D"
education : str = "Master in Data Science"
age : int = 25

card : str = "Student Card\nStudent Name: " + name + "\nStudent Father Name: " + fname + "\nAge: " + str(age) + "\nEducation: " + education

print(card)

Student Card
Student Name: Muhammad Asif
Student Father Name: A D
Age: 25
Education: Master in Data Science

 # "\\" line continue

In [24]:
print(7 + \
      8 + \
        2)

17

In [25]:
print('a' + \
      'b' + \
        'c')

abc

In [33]:
# Example of Student Card 

# We cannot concatenate the str and int data type.

# If we write it to another line it give Syntex Error

name : str = 'Muhammad Asif'
fname : str = "A D"
education : str = "Master in Data Science"
age : int = 25

card : str = "Student Card\nStudent Name: " + name +
"\nStudent Father Name: " + fname +
"\nAge: " + str(age) +
"\nEducation: " + education

print(card)

SyntaxError: invalid syntax (2897270565.py, line 12)

In [35]:
# So we used back slash (\) means this line is continue.

name : str = 'Muhammad Asif'
fname : str = "A D"
education : str = "Master in Data Science"
age : int = 25

card : str = "Student Card\nStudent Name: " + name +\
"\nStudent Father Name: " + fname +\
"\nAge: " + str(age) +\
"\nEducation: " + education

print(card)

Student Card
Student Name: Muhammad Asif
Student Father Name: A D
Age: 25
Education: Master in Data Science

# Define multiline string """ """, ''' '''

In [36]:
# 1. Write things in multi lines
# 2. Also change datatype
# 3. In triple quotation no need of \n for line changing

name : str = 'Muhammad Asif'
fname : str = "A D"
education : str = "Master in Data Science"
age : int = 25


card : str = """
Student Card
Student Name : 
Father's Name: 
Age: ......
Education : .....
"""

print(card)

Student Card
Student Name :
Father's Name:
Age: ......
Education : .....

# Two types of style:
# F-string and Jinja style

# Jinja style

In [48]:
# when you combine any variable with HTML page.
# in which double cirli bracket open close
# Jinja Style 
"""
student name {{name}}
"""

'\nstudent name {{name}}\n'

# F-string pthon

In [47]:
# Most ues function is f-string
# Syntex of f-string
f"""
student name {name}
"""

'\nstudent name Muhammad Asif\n'

# Recommended below two f-string format

In [52]:
# 1

name : str = 'Muhammad Asif'
fname : str = "A D"
education : str = "Master in Data Science"
age : int = 25


card : str = f"""
Student Card
Student Name : {name}
Father's Name: {fname}
Age: {age}
Education : {education}
"""

print(card)

Student Card
Student Name : Muhammad Asif
Father's Name: A D
Age: 25
Education : Master in Data Science

In [53]:
# 2

# NLP, Coding all come in f-string, you integrate with string
# exec : execute code

student_code : str = """
print("My Name is Muhammad Asif")
a:int = 7
b:int = 8
print(a + b)
"""

exec(student_code)

My Name is Muhammad Asif
15

In [42]:
# It is a powerful feature in python 
# In LANGCHAIN its template is define by f-string
# f is written befor triple quotation
# In cirli bracket the variable is place
# No occur type casting problem (no need of converting age in to str)

# ------------ f string in single triple quotation -----------

name : str = 'Muhammad Asif'
fname : str = "A D"
education : str = "Master in Data Science"
age : int = 25


card : str = f'''
PIAIC Student Card
Student Name : {name}
Father's Name: {fname}
Age: {age}
Education : {education}
'''

print(card)

PIAIC Student Card
Student Name : Muhammad Asif
Father's Name: A D
Age: 25
Education : Master in Data Science

In [43]:
# ------------ f string in double triple quotation -----------

name : str = 'Muhammad Asif'
fname : str = "A D"
education : str = "Master in Data Science"
age : int = 25

card : str = f"""
Student Card
Student Name : {name}
Father's Name: {fname}
Age: {age}
Education : {education}
"""

print(card)

Student Card
Student Name : Muhammad Asif
Father's Name: A D
Age: 25
Education : Master in Data Science

In [45]:
# In it you can also write numerical function, expression you can do everything here with python code
# f-string is the advanced way we used it in every where

name : str = 'Muhammad Asif'
fname : str = "A D"
education : str = "Master in Data Science"
age : int = 25


card : str = f"""
Student Card
Student Name : {name}
Father's Name: {fname}
Age: {age}
Education : {education}

Total {1 + 3 + 6 + 7}
"""

print(card)

Student Card
Student Name : Muhammad Asif
Father's Name: A D
Age: 25
Education : Master in Data Science

Total 17