# Types of Errors :
* 1. Development Time: means coding time. wrong datatype assign, here intellisence tell the error.
* 2. Run Time Error : When user use the product this error will come.
* 3. Logical Error : Only resolve by testing.

In [28]:
print(f)

NameError: name 'f' is not defined

# Python divides the operators in the following groups:

* Arithmetic operators
* Assignment operators
* Comparison operators
* Logical operators
* Identity operators
* Membership operators

# Python Arithmetic Operators

In [1]:
# First we install the pandas in terminal by commands "pip install pandas"
# With the help of ! you can can terminal command in jupyter notebook



!pip install pandas
!conda install lxml -y
import pandas as pd

table = pd.read_html('https://www.w3schools.com/python/python_operators.asp')
table[0]

Requirement already satisfied: pandas in c:\users\hp\appdata\local\programs\python\python312\lib\site-packages (2.1.1)
Requirement already satisfied: numpy>=1.26.0 in c:\users\hp\appdata\local\programs\python\python312\lib\site-packages (from pandas) (1.26.1)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\hp\appdata\roaming\python\python312\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\hp\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in c:\users\hp\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in c:\users\hp\appdata\roaming\python\python312\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

[notice] A new release of pip is available: 23.2.1 -> 23.3.1
[notice] To update, run: python.exe -m pip install --upgrade pip
'conda' is not recognized as an internal or external command,
operable program or batch file.

  Operator            Name Example    Try it
0        +        Addition   x + y  Try it »
1        -     Subtraction   x - y  Try it »
2        *  Multiplication   x * y  Try it »
3        /        Division   x / y  Try it »
4        %         Modulus   x % y  Try it »
5       **  Exponentiation  x ** y  Try it »
6       //  Floor division  x // y  Try it »

In [3]:
# Addition (+)

a = 7
b = 6

print(a + b)

13

In [4]:
# Subtraction (-)

a = 7
b = 6

print(a - b)

1

In [5]:
# Multiplication (*)

a = 7
b = 6

print(a * b)

42

In [6]:
# Division (/)

a = 7
b = 6

print(a / b)

1.1666666666666667

In [7]:
# Modulus (%)

a = 7
b = 6

print(a % b)

1

In [9]:
# In power/Exponentiation double asterisk used.

a = 2
b = 5

print(a ** b) # On Backend it work like this 2*2*2*2*2 = 32


print(7**3) # 7 x 7 = 343


print(3**7) # 3 x 3 x 3 x 3 x 3 x 3 x 3= 2187

32
343
2187

In [10]:
# Floor division (//) rounds the result down to the nearest whole number

a = 15
b = 4

print(a // b) # On Backend it work like this: 15 //4 = 3.75

3

# PEMDAS

In [12]:
# Example 1

print((7 + 3) - (3 + 3))

4

In [19]:
# Example 2

pemdas : int = 2 + 3 * (4 - 1) ** 2
# 2 + 3 * 3 ** 2 (3x3)
# 2 + 3 * 9
# 2 + 27
# 29

print("Result:", pemdas)

Result: 29

#  Python Assignment Operators

In [12]:
# Equal (=) to symbol is called assign operator
# On the left side variable is present
# On the Right side its value present

table[1]

# From below table we used 0 to 7 operators

   Operator  Example     Same As    Try it
0         =    x = 5       x = 5  Try it »
1        +=   x += 3   x = x + 3  Try it »
2        -=   x -= 3   x = x - 3  Try it »
3        *=   x *= 3   x = x * 3  Try it »
4        /=   x /= 3   x = x / 3  Try it »
5        %=   x %= 3   x = x % 3  Try it »
6       //=  x //= 3  x = x // 3  Try it »
7       **=  x **= 3  x = x ** 3  Try it »
8        &=   x &= 3   x = x & 3  Try it »
9        |=   x |= 3   x = x | 3  Try it »
10       ^=   x ^= 3   x = x ^ 3  Try it »
11      >>=  x >>= 3  x = x >> 3  Try it »
12      <<=  x <<= 3  x = x << 3  Try it »

In [13]:
# = assign

m : int = 7

In [17]:
# += Addition

m : int = 7
print(m)

m += 3
print(m)

7
10

In [19]:
# -= Subtruction

m : int = 7
print(m)
m -= 3
print(m)

7
4

In [21]:
# *= Multiplication

m : int = 7
print(m)
m *= 3
print(m)

7
21

In [23]:
# /= Division

m : int = 7
print(m)
m /= 3
print(m)

7
2.3333333333333335

In [25]:
# %= Modulus

m : int = 7
print(m)
m %= 3
print(m)

7
1

In [26]:
# //= Floor
 
m : int = 7
print(m)
m //= 3
print(m)

7
2

In [27]:
# **= Exponent/Power

m : int = 7
print(m)
m **= 3
print(m)

7
343

# Python Comparison Operators

In [28]:
# It compare the values which are present on the left side and on right side

table[2]

  Operator                      Name Example    Try it
0       ==                     Equal  x == y  Try it »
1       !=                 Not equal  x != y  Try it »
2        >              Greater than   x > y  Try it »
3        <                 Less than   x < y  Try it »
4       >=  Greater than or equal to  x >= y  Try it »
5       <=     Less than or equal to  x <= y  Try it »

# ASCII : American Standard Code for Information Interchange

````
A = 65
B = 66
Z = 90

a = 97
b = 98
z = 122

0=48
1=49
9=57 
````

In [48]:
# comparison first convert in ACII code then compare

# This function tell ASCII code

ord('A')

65

In [50]:
# This function tell the character

chr(70)

'F'

# Print the A to Z

In [10]:
# Here is the name variable in which datatype is list in which is string.
# Here is for loop occur.
# I explain it in later. 

name: list[str] = [chr(i) for i in range(65,91)]
name

['A',
 'B',
 'C',
 'D',
 'E',
 'F',
 'G',
 'H',
 'I',
 'J',
 'K',
 'L',
 'M',
 'N',
 'O',
 'P',
 'Q',
 'R',
 'S',
 'T',
 'U',
 'V',
 'W',
 'X',
 'Y',
 'Z']

In [36]:
# Single equal to (=) is used for value assigning. 
# Double equal to (==) is used for values comparison.

a : int = 7
b : int = 7

print( a == b )

# In the backend it work like this.
# a == b
# 7 == 7
# True

True

In [35]:
a : int = 7
b : int = 6

print( a == b )
# a == b
# 7 == 7
# False

False

In [38]:
# Number vs String

a : int = 3
b : str = '3'

print(a == b)

False

In [39]:
# Not equal to : !=

# It is used in apps like when we login in app it check my name and when it is present in !=, so it not allow us to login
# simply we say this not happen remaining all allowed e.g: like we break terms and conditions and block by apps

a : int = 11
b : int = 11

print( a != b )
# a == b
# 7 == 7
# False

False

In [44]:
# Greater than (>)

# How to remember it ? jaha is ka mouh hoga wo greater hoga 
# Where the direction of sign it means it is greater.

a : int = 7
b : int = 6

print(a > b)
# a > b
# 7 > 8
# True

True

In [45]:
# less then (<)

a : int = 7
b : int = 11

print(a < b)
# a < b
# 10 < 8
# True

True

In [43]:
# Greater then equal to  (>=)

# Biger then a and equal to a

a : int = 5
b : int = 5

print(a >= b)

True

In [47]:
# Becareful in writting the symbol. Symbol come first.

a : int = 7
b : int = 7

print(a => b)

SyntaxError: invalid syntax (26890.py, line 6)

In [46]:
# Less then equal to (<=)

a : int = 5
b : int = 5

print(a <= b)

True

In [53]:
a : str = 'A' # 65
b : str = 'C' # 67

print(b >= a)

True

In [54]:
a : str = 'A' # 65 
b : str = 'a' # 97

print(b >= a)

True

# Python Logical Operators

In [55]:
table[3]

,Operator,Description,Example,Try it
0,and,Returns True if both statements are true,x < 5 and x < 10,Try it »
1,or,Returns True if one of the statements is true,x < 5 or x < 4,Try it »
2,not,"Reverse the result, returns False if the resul...",not(x < 5 and x < 10),Try it »

In [61]:
# and لازمی
# In "and" all conditions must be true


#1        2        3        
True and True and True  
# CNIC    ID Card   B-form  

print(True and True and True) 
print(True and True and False) 
print(False and False and False)

True
False
False

In [62]:
# In "or" any one conditions true

     #1        2        3      
print(True or True or True)
print(True or True or False)
print(False or False or False)

True
True
False

In [63]:
# "not" it change/invert any comparison
# In app all allowed but Asif not allowed.

not True

False

In [64]:
name : str = "Asif"
print(not name=="Asif")
# name == "Asif"
# "Asif" == "Asif"
# True

False

In [65]:
name : str = "Asif"
print(name!="Asif")
# name == "Asif"
# "Asif" == "Asif"

False

# Python Identity Operators

In [66]:
table[4]

,Operator,Description,Example,Try it
0,is,Returns True if both variables are the same ob...,x is y,Try it »
1,is not,Returns True if both variables are not the sam...,x is not y,Try it »

In [67]:
# We made 2 variables and on backend We check them these are same or not.
#  We check them by ID. 
# ID : All variables on the backend comsume memory address 
x : str = 'abc'
z : str = 'abc'

print(id(x))
print(id(z))

140735785219904
140735785219904

In [68]:
# Variable names are separate but values and physical address are same, so it retuen true, it's like shollow copy.
# shallow copy : like in shallow copy physical adress same in the backend

x is z

True

In [69]:
i : str = 'abc'
j : str = 'xyz'

print(id(i))
print(id(j))

i is j

140735785219904
1548345552704

False

In [70]:
x : str = 'abc'
z : str = 'abc'

print(id(x))
print(id(z))

x is not z

140735785219904
140735785219904

False

# Python Membership Operators

In [2]:
table[5]

,Operator,Description,Example,Try it
0,in,Returns True if a sequence with the specified ...,x in y,Try it »
1,not in,Returns True if a sequence with the specified ...,x not in y,Try it »

In [3]:
# in

x = ["apple", "mango"]

print("mango" in x)

# returns True because "mango" is in the list.

True

In [4]:
# not in

x = ["apple", "mango"]

print("banana" not in x)

# returns True because "banana" is not in the list

True

# Membership operators by input function

In [8]:
# in

# Input function that take input in run time from user.
# From input function prompt open/ pop up open that take input from user.


names : list[str] = ['USA','Pakistan', 'India']
# Only these are allowed.

user_input : str = input("Enter your name")

# checking user_input in names (it tell answer only in True or False)
user_input in names

True

In [9]:
# not in

# All these are block
names : list[str] = ['USA','Pakistan', 'India']

user_input : str = input("Enter your name")

user_input not in names

False

# Easily write any number

In [20]:
# Writting underscope after 3 ,it not include in number so we easly write any number.

uni_age: int  = 14_000_000_000
print(uni_age)

14000000000

# Zip 
# Unzip

*  zip unzip comparison it is a assign operator.
* At the same time we assign three variable and also their value put in these with sequence

In [21]:
# Unzip

# We get the data from tuple, list or iterative data type 

# Example of unzip
#0  1    2     0       1   2
a , b  , c  = ('Asif', 7, 6.0)
# Here is tuple is define and from this values are unzip.(ya aik aik value nikal kay us variable kay kay index number pr dal dta hay)


print(a)
print(b)
print(c)

Asif
7
6.0

In [23]:
# Zip

'Asif', 7, 6.0  
# It is converted in to tuple

('Asif', 7, 6.0)

In [24]:
# We get the values form tuple by indexing

data = ('Asif', 7, 5.0)
print(data[0], data[1], data[2])

Asif 7 5.0

In [25]:
# In the above we get the values by tuple but we also get the values by asteric.

# Asteric own get the value from tuple. (asteric khud hi value nikal kr da da ga tuple sa)

# Asteric use case : infinite value ko iterative data type sa nikalana

# Iterative data type : That get the value one by one (aik aik kr k value ko nikal leta hay)

data = ('Asif', 7, 5.0)
print(*data)

Asif 7 5.0