In [1]:
print('NA Times')

NA Times

# Naming conventions in Python

# Examples of variable names that are allowed:
   *   (single lowercase letter)
        * Example:a
   *   (single uppercase letter)
        * Example:A
   *   lowercase
        * Example:natimes
   *   lower_case_with_underscores
        * Example:na_times
   *   UPPERCASE
        * Example: NATIMES
   *   UPPER_CASE_WITH_UNDERSCORES
        * Example: NA_TIMES
   *   camelCase
        * Example: naTimes
   *   Single underscore in start
        * Example: _naTimes

In [2]:
# Single lowercase letter
a : str = 'Mojo for everyone'
print(a)

Mojo for everyone

In [3]:
# Single uppercase letter
A : str = 'AI for everyone'
print(A)

AI for everyone

In [5]:
# lowercase
abc : str = 'Generative AI for everyone'
print(abc)

Generative AI for everyone

In [6]:
# lower_case_with_underscores
abc_xyz : str = 'Gen AI for everyone'
print(abc_xyz)

Gen AI for everyone

In [8]:
# UPPERCASE
ABC : str = 'NA Times'
print(ABC)

NA Times

In [10]:
# UPPER_CASE_WITH_UNDERSCORES
ABC_XYZ : str = 'NA Times'
print(ABC_XYZ)

NA Times

In [11]:
# camelCase
myName: str = 'NA Times'
print(myName)

NA Times

In [12]:
# Single underscore in start
_myName: str = 'NA Times'
print(_myName)

NA Times

# Examples of variable names that are allowed:
   *   Starting with a Number
        * Example:123abc = "Invalid"
   *   Containing Spaces
        * Example:invalid name = "Invalid"
   *   Using Special Characters
        * Example:price@USD = 50
   *   Using Python Keywords
        * Example:class = "Invalid", if = True
   *   Using Hyphens
        * Example: user-age = 30

In [ ]:
# Starting with a Number
123abc = "Invalid"

In [ ]:
# Containing Spaces
invalid name = "Invalid"

In [ ]:
# Using Special Characters
price@USD = 50

In [ ]:
# Using Python Keywords
class = "Invalid" 
if = True